
button:focus{
    outline: none;
}


.filteritems button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #6b7280;
  padding-bottom: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.filteritems button:hover {
  color: #111827;
  transform: translateY(-2px);
  transition: 0.2s ease;
}

.clicked {
   color: #0F172A;
  font-weight: 700;
  transition: all 0.2 ease
}

.clicked::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
 
  border-radius: 4px;
  border-bottom: 3px solid #C6A55C;

}